@charset "UTF-8";
@font-face {
  font-family: "Gentium";
  src: local("Gentium"), url("fonts/Gentium/Gentium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Gentium-Book";
  src: local("Gentium-Book"), url("fonts/Gentium/Gentium-Book.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Gentium-Italic";
  src: local("Gentium-Italic"), url("fonts/Gentium/Gentium-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "Gentium-Bold";
  src: local("Gentium-Bold"), url("fonts/Gentium/Gentium-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: bold;
}
@font-face {
  font-family: "Aller";
  src: local("Aller"), url("fonts/Aller/Aller_Rg.ttf") format("truetype");
}
@font-face {
  font-family: "Aller-Light";
  src: local("Aller-Light"), url("fonts/Aller/Aller_Lt.ttf") format("truetype");
}
@font-face {
  font-family: "Aller-Italic";
  src: local("Aller-Italic"), url("fonts/Aller/Aller_It.ttf") format("truetype");
}
@font-face {
  font-family: "Aller-Bold";
  src: local("Aller-Bold"), url("fonts/Aller/Aller_Bd.ttf") format("truetype");
}
.reveal h4,
.reveal h5,
.reveal h6 {
  text-transform: none !important;
}

.a img {
  border: 0;
}

th {
  text-shadow: none !important;
  text-transform: uppercase !important;
}

.intro-slide-image {
  max-width: 40% !important;
  max-height: 40% !important;
  border: none !important;
  box-shadow: none !important;
  background: none !important;
}

.fit {
  max-height: 60vh !important;
  max-width: 60vw !important;
}

.code {
  font-family: monospace !important;
  font-size: 12pt !important;
}

.pic {
  background-color: #eee !important;
  border: none !important;
  max-height: 300px !important;
}
.pic.small {
  max-height: 200px !important;
}
.pic--high-contrast {
  background: #fff !important;
  border: none !important;
  box-shadow: none !important;
  height: 300px !important;
}
.pic--no-bg {
  background: none !important;
  border: none !important;
  box-shadow: none !important;
  height: 300px !important;
}

section {
  margin-top: 10% !important;
}

.compress {
  font-size: 16pt !important;
  line-height: 140% !important;
  letter-spacing: 0.1px !important;
}
.compress--mild {
  font-size: 22pt !important;
  line-height: inherit;
  letter-spacing: inherit;
}
.compress--extreme {
  font-size: 14pt !important;
  line-height: 120% !important;
  letter-spacing: 0.1px !important;
}

pre {
  font-size: 11pt !important;
}
pre.compress {
  font-size: 8pt !important;
}

ul,
li {
  font-family: "Aller-Light" !important;
  font-weight: normal !important;
}

li.checked {
  list-style-type: none;
}
li.checked:before {
  content: "✓ ";
  color: green;
}
li.questionable {
  list-style-type: none;
}
li.questionable:before {
  content: "? ";
  color: #ffcc00;
}
li.starred {
  list-style-type: none;
}
li.starred:before {
  content: "* ";
}

.keyword {
  font-family: "Aller-Bold" !important;
}
.keyword.defined:after {
  content: ": ";
}

.centered, .do-it, .question-mark {
  text-align: center !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}
.centered-text, .key-concept {
  text-align: center !important;
}

.key-concept {
  font-size: 36pt !important;
  height: 50vh !important;
  line-height: 120% !important;
  letter-spacing: 0.1px !important;
}

.do-it {
  font-size: 150% !important;
  height: 70vh !important;
}

em {
  font-family: "Aller-Bold" !important;
  font-style: normal !important;
}

.column-container {
  display: flex;
}
.column-container .item {
  flex-direction: row;
}
.column-container .pic.large {
  max-height: 350px !important;
}
.column-container .pic.small {
  max-height: 200px !important;
}
.column-container .pic--compress {
  background-color: #eee !important;
  border: none !important;
  max-width: 23%;
  max-height: 23%;
  margin-top: 5px !important;
}
.column-container .pic.linked {
  border: 0 !important;
  box-shadow: 0 !important;
}
.column-container pre {
  max-width: 49%;
}
.column-container pre code {
  height: 100vh;
}

p {
  text-align: left !important;
}

.definition-table {
  text-align: left;
}
.definition-table .row {
  display: flex;
  flex-direction: row;
  padding: 10px 0;
  border-bottom: 1px solid #dfdfdf;
}
.definition-table .col1 {
  min-width: 25%;
  max-width: 25%;
  width: 25%;
  word-wrap: break-word;
}

.question-mark {
  margin-top: 30vh !important;
  color: #01A9B4;
  font-size: 1000% !important;
}

/*********************************************
 * GLOBAL STYLES
 *********************************************/
body {
  background: #1c1e20;
  background: -moz-radial-gradient(center, circle cover, #555a5f 0%, #1c1e20 100%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #555a5f), color-stop(100%, #1c1e20));
  background: -webkit-radial-gradient(center, circle cover, #555a5f 0%, #1c1e20 100%);
  background: -o-radial-gradient(center, circle cover, #555a5f 0%, #1c1e20 100%);
  background: -ms-radial-gradient(center, circle cover, #555a5f 0%, #1c1e20 100%);
  background: radial-gradient(center, circle cover, #555a5f 0%, #1c1e20 100%);
  background-color: #2b2b2b;
}

.reveal {
  font-family: "Aller", "Helvetica", Arial, sans-serif;
  font-size: 36px;
  font-weight: 200;
  letter-spacing: -0.02em;
  color: #eee;
}

::selection {
  color: #fff;
  background: #f9b8bb;
  text-shadow: none;
}

/*********************************************
 * HEADERS
 *********************************************/
.reveal h1, .reveal .do-it,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  margin: 0 0 20px 0;
  color: #F05B62;
  font-family: "Aller-Bold", Impact, sans-serif;
  line-height: 0.9em;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  text-shadow: 0px 0px 6px rgba(0, 0, 0, 0.2);
}

.reveal h1, .reveal .do-it {
  text-shadow: 0px 0px 6px rgba(0, 0, 0, 0.2);
}

/*********************************************
 * LINKS
 *********************************************/
.reveal a:not(.image) {
  color: #01A9B4;
  text-decoration: none;
  -webkit-transition: color .15s ease;
  -moz-transition: color .15s ease;
  -ms-transition: color .15s ease;
  -o-transition: color .15s ease;
  transition: color .15s ease;
}

.reveal a:not(.image):hover {
  color: #f9b8bb;
  text-shadow: none;
  border: none;
}

.reveal .roll span:after {
  color: #fff;
  background: #01A9B4;
}

/*********************************************
 * IMAGES
 *********************************************/
.reveal section img {
  margin: 15px;
  background: rgba(255, 255, 255, 0.12);
  border: 4px solid #eee;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  -webkit-transition: all .2s linear;
  -moz-transition: all .2s linear;
  -ms-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear;
}

.reveal a:hover img {
  background: rgba(255, 255, 255, 0.2);
  border-color: #01A9B4;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.55);
}

/*********************************************
 * NAVIGATION CONTROLS
 *********************************************/
.reveal .controls div.left,
.reveal .controls div.left.enabled {
  border-right-color: #01A9B4;
}

.reveal .controls div.right,
.reveal .controls div.right.enabled {
  border-left-color: #01A9B4;
}

.reveal .controls div.up,
.reveal .controls div.up.enabled {
  border-bottom-color: #01A9B4;
}

.reveal .controls div.down,
.reveal .controls div.down.enabled {
  border-top-color: #01A9B4;
}

.reveal .controls div.left.enabled:hover {
  border-right-color: #f9b8bb;
}

.reveal .controls div.right.enabled:hover {
  border-left-color: #f9b8bb;
}

.reveal .controls div.up.enabled:hover {
  border-bottom-color: #f9b8bb;
}

.reveal .controls div.down.enabled:hover {
  border-top-color: #f9b8bb;
}

/*********************************************
 * PROGRESS BAR
 *********************************************/
.reveal .progress {
  background: rgba(0, 0, 0, 0.2);
}

.reveal .progress span {
  background: #01A9B4;
  -webkit-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -moz-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -ms-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -o-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
}

/*# sourceMappingURL=gdidefault.css.map */
