// Default mixins and settings -----------------
@import "../template/mixins";
@import "../template/settings";
// ---------------------------------------------

// Override theme settings (see ../template/settings.scss)
$linkColor: #01A9B4;
// Background generator
@mixin bodyBackground() {
	@include radial-gradient( rgba(28,30,32,1), rgba(85,90,95,1) );
}

.reveal h4,
.reveal h5,
.reveal h6 {
	text-transform: none !important;
}

.a img {
	border: 0;
}

.intro-slide-image {
	max-width: 45% !important;
	max-height: 45% !important;
}


// Theme template ------------------------------
@import "../template/theme";
// ---------------------------------------------
